<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://caseyli.carbonmade.com">Portfolio</a></li>
			<li><a href="http://www.railstutorials.org/">Rails Tutorial</a></li>
		</u1>
	</nav>
</footer>